.arrow {
  width: 60px;
  height: 53px;
  cursor: pointer;
  padding: 20px;
  font-size: 16px;
  margin: 7px 0;
  background-size: cover;
  background-position: center;
}

.arrow--left {
  fill: #ffffff;
  background-image: url("/public/images/Componant1/carosol-btn-layer.png");
}

.arrow--right {
  fill: #ffffff;
  background-image: url("/public/images/Componant1/carosol-btn-layer2.png");
}

.arrow-box {
  position: absolute;
  display: flex;
  gap: 15px;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
}

@media (min-width: 320px) and (max-width: 1500px) {
  .arrow-box {
    top: inherit;
    bottom: 50px;
    left: 50%;
    flex-direction: row;
    transform: translateX(-50%) translateY(0);
  }
  .arrow {
    padding: 14px;
  }
}
